<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Record</title>
</head>
<body>
    <h1>Welcome User <%= user_id %> : <%= user_name %></h1>
</body>
</html>